*.class

# Various scripts
retest.sh

# Package Files
*.jar
*.war
*.ear

# Editor backup files
*~
*.bak

# Maven
target

# Eclipse
.project
.classpath
.settings

# IntelliJ Idea
.idea
*.iml
*/*.iml

# webapp logs
*/env.CATALINA_HOME_IS_UNDEFINED*
